.pre {
    overflow: auto;
    white-space: pre-wrap;
}

::-webkit-scrollbar {
    background-color: #151618;
    width: 4px;
    height: 2px;
}

::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 12px;
    width: 4px;
    height: 2px;
}