<!DOCTYPE html>
<html lang="en">
<head>
    <title>PonjoPastes</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="PonjoPastes">
    <meta property="og:site_name" content="Ponjo Studios">
    <meta property="og:description" content="PonjoPastes is an easy-to-use paste tool that allows you to store text online for free, without a hassle.">
    <meta property="og:image:url" content="https://raw.githubusercontent.com/Eerie6560/Archives/main/images/icons/PonjoPastes.png">
    <meta property="og:image:secure_url" content="https://raw.githubusercontent.com/Eerie6560/Archives/main/images/icons/PonjoPastes.png">
    <meta name="theme-color" content="#42d45a">
    <meta name="keywords" content="ben petrillo, petrillo, ponjo api, ponjo studios, elixir music bot, ben petrillo portfolio, ponjopastes">
    <link rel="icon" href="https://raw.githubusercontent.com/Eerie6560/Archives/main/images/icons/PonjoPastes.png" type="img/png">
    <style>
        pre {
            margin: 5px;
            white-space: pre;
        }
        code {
            border-radius: 10px;
        }
        a:hover {
            text-decoration: underline;
            color: cornflowerblue;
        }
        .ponjo-link {
            color: cornflowerblue;
        }
        .ponjo-link:hover {
            color: cornflowerblue;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/atom-one-dark.min.css" id="hljs-theme" media="">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
</head>
<body style="background-color: #151618;">
<div class="container my-5">
    <div class="text-center">
        <h2 class="display-5 text-center mb-3 text-white">PonjoPastes</h2>
        <p class="text-white">
            Easily share long text blocks with friends, without hassle.
        </p>
        <a href="https://pastes.ponjo.club">
            <button class="btn btn-secondary" id="headers">
                Create Paste
            </button>
        </a>
        <a href="https://docs.ponjo.club">
            <button class="btn btn-secondary" id="transform" >
                API Documentation
            </button>
        </a>
    </div>
    <div class="text-center container">
        <form action="/" method="POST">
            <div class="form-group">
                <label for="exampleFormControlTextarea1"></label>
                <textarea name="content" class="form-control text-white" style="background-color: #282c34;" id="exampleFormControlTextarea1" rows="10" placeholder="Type something here..."></textarea>
            </div>
            <button class="btn btn-secondary" id="transform" type="submit">
                Submit this paste!
            </button>
        </form>
    </div>
    <h3 class="display-5 text-center mb-3 text-white mt-5">API Usage</h3>
    <div class="container">
        <p class="text-white text-center">
            PonjoPastes has its own REST API that allows developers to interact with the website, creating new pastes
            and fetching pastes by their IDs. The API is very easy to use and is documented below.
        </p>
        <ul class="text-white">
            <li>
                The base URL for the API is <strong><a class="ponjo-link" href="https://pastes.ponjo.club/api/v1">https://pastes.ponjo.club/api/v1</a></strong>.
            </li>
            <li>
                You can find API implementations for Java, TypeScript, and Python below.
            </li>
            <li>
                To view the full documentation, <strong><a class="ponjo-link" href="https://docs.ponjo.club">click here</a></strong>.
            </li>
        </ul>
        <p class="text-white text-center">

        </p>
    </div>
    <div class="container">
        <pre>
            <code class="typescript" style="padding-left: 20px; padding-right: 20px;">
                /**
                 * TypeScript implementation with sample response.
                 * @endpoint /api/v1/create
                 */

                import * as axios from "axios";
                import {AxiosRequestConfig} from "axios";

                const requestConfig: AxiosRequestConfig = {
                    url: "https://pastes.ponjo.club/api/v1/create",
                    method: "PUT",
                    data: "Hello world!"
                };

                await axios.put(requestConfig)
                    .then(response => {
                        console.log(response.data);
                    })
                    .catch(error => {
                        console.log(error);
                    });
            </code>
            <code class="json" style="padding-left: 20px; padding-right: 20px;">
                {
                    "message": "Success.",
                    "paste": {
                        "content": "Hello world!",
                        "id": "mvDZ1RZJG",
                        "url": "https://pastes.ponjo.club/mvDZ1RZJG",
                        "contentLength": 37
                    }
                }
            </code>
        </pre>
    </div>
</div>
<footer class="massfoot mt-auto">
    <div class="inner text-white text-center">
        <p style="margin-bottom: 25px;">
            © <a href="https://ponjo.club" class="text-white text-underline">Ponjo Studios</a> 2022. All rights reserved.
        </p>
    </div>
</footer>
<script>
    document.querySelectorAll("code").forEach(element => {
        element.innerHTML = element.innerHTML.replace(/                /g, "");
    });
</script>
<script>hljs.initHighlightingOnLoad();</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
</body>
</html>