<!DOCTYPE html>
<html lang="en">
<head>
    <title>PonjoPastes</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="PonjoPastes">
    <meta property="og:site_name" content="Ponjo Studios">
    <meta property="og:description" content="PonjoPastes is an easy-to-use paste tool that allows you to store text online for free, without a hassle.">
    <meta property="og:image:url" content="https://raw.githubusercontent.com/Eerie6560/Archives/main/images/icons/PonjoPastes.png">
    <meta property="og:image:secure_url" content="https://raw.githubusercontent.com/Eerie6560/Archives/main/images/icons/PonjoPastes.png">
    <meta name="theme-color" content="#cc9f45">
    <meta name="keywords" content="ben petrillo, petrillo, ponjo api, ponjo studios, elixir music bot, ben petrillo portfolio, ponjopastes">
    <link rel="icon" href="https://raw.githubusercontent.com/Eerie6560/Archives/main/images/icons/PonjoPastes.png" type="img/png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
</head>
<body>
<div class="container my-5">
    <div class="text-center">
        <h2 class="display-5 text-center mb-3">PonjoPastes</h2>
        <p>
            PonjoPastes is a website that allows users to share plain text through public posts known as "ponjopastes".
            Codesharing directly in IRC channels (and other messaging applications) disrupts the flow of messages or
            can alter the code itself. Users require a third-party site where they can share plain text blocks as a
            link, allowing other users to easily access and edit it.
        </p>
        <p>
            PonjoPastes makes it easy for you to share long text blocks with friends, without hassle.
        </p>
        <a href="https://pastes.ponjo.club">
            <button class="btn btn-secondary" id="headers">
                Create Paste
            </button>
        </a>
        <a href="https://app.ponjo.club">
            <button class="btn btn-secondary" id="transform" >
                Ponjo Studios
            </button>
        </a>
    </div>
    <div class="text-center container">
        <form action="/" method="POST">
            <div class="form-group">
                <label for="exampleFormControlTextarea1"></label>
                <textarea name="content" class="form-control" id="exampleFormControlTextarea1" rows="10" placeholder="Enter your paste here."></textarea>
            </div>
            <button class="btn btn-secondary" id="transform" type="submit">
                Submit this paste!
            </button>
        </form>

    </div>
    <div id="res"></div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
</body>
</html>