<!DOCTYPE html>
<html lang="en">
<head>
    <title>PonjoPastes</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="PonjoPastes">
    <meta property="og:site_name" content="Ponjo Studios">
    <meta property="og:description" content="PonjoPastes is an easy-to-use paste tool that allows you to store text online for free, without a hassle.">
    <meta property="og:image:url" content="https://raw.githubusercontent.com/Eerie6560/Archives/main/images/icons/PonjoPastes.png">
    <meta property="og:image:secure_url" content="https://raw.githubusercontent.com/Eerie6560/Archives/main/images/icons/PonjoPastes.png">
    <meta name="theme-color" content="#5aad5e">
    <meta name="keywords" content="ben petrillo, petrillo, ponjo api, ponjo studios, elixir music bot, ben petrillo portfolio, ponjopastes">
    <link rel="icon" href="https://raw.githubusercontent.com/Eerie6560/Archives/main/images/icons/PonjoPastes.png" type="img/png">
    <style>
        pre {
            margin: 5px;
            white-space: pre;
        }
        code {
            border-radius: 10px;
        }
        a:hover {
            text-decoration: underline;
            color: cornflowerblue;
        }
        .ponjo-link {
            color: cornflowerblue;
        }
        .ponjo-link:hover {
            color: cornflowerblue;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
</head>
<body style="background-color: #151618;">
<div class="container my-5">
    <div class="text-center">
        <h2 class="display-5 text-center mb-3 text-white">PonjoPastes</h2>
        <p class="text-white">
            Easily share text snippets, without a hassle. <strong><%= data.pastes %></strong> pastes and counting.
        </p>
        <a href="https://pastes.ponjo.club">
            <button class="btn btn-secondary" id="headers">
                Create Paste
            </button>
        </a>
        <a href="https://docs.ponjo.club">
            <button class="btn btn-secondary" id="transform" >
                API Documentation
            </button>
        </a>
    </div>
    <div class="container text-center">
        <form action="/" method="POST">
            <div class="form-group">
                <label for="exampleFormControlTextarea1"></label>
                <textarea name="content" class="form-control text-white" style="background-color: #282c34;" id="exampleFormControlTextarea1" rows="10" maxlength="95000" placeholder="Paste content here..."></textarea>
            </div>
            <div class="form-group">
                <label class="text-white" for="titleinput" style="padding: 2px;">Enter a title for your paste. (optional)</label>
                <input name="title" id="titleinput" class="form-control text-white" type="text" style="background-color: #282c34;" placeholder="Title for your paste..." maxlength="50">
            </div>
            <div class="form-check" style="padding-bottom: 18px;">
                <input name="codeblock" class="form-check-input" style="height: 15px; width: 15px;" type="checkbox" value="0" onclick="document.getElementById('codeblock-checkbox').value = (document.getElementById('codeblock-checkbox').value === 'yes')" id="codeblock-checkbox">
                <label class="form-check-label text-white" for="codeblock-checkbox">
                    This is a codeblock.
                </label>
            </div>
            <button class="btn btn-secondary" id="transform" type="submit">
                Submit this paste!
            </button>
        </form>
    </div>
</div>
<footer class="massfoot mt-auto">
    <div class="inner text-white text-center">
        <p style="margin-bottom: 25px;">
            © <a href="https://ponjo.club" class="text-white text-underline">Ponjo Studios</a> 2022. All rights reserved.
        </p>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
</body>
</html>